* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header {
    height: 800px;
    background-image: url(./images/uae-4-2048x1367\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
}
.header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
}
.linko {
    display: flex;
    gap: 30px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.brnvoiti {
    color: white;
    border-radius: 10px;
    background-color: #07AF91;
    padding: 10px 30px;
    border: none;
}
.l1 {
    color: white;
    font-size: 43px;
    font-weight: 700;
    background-color: #07AF91;
    padding: 5px;
    display: inline;
    width: 600px;
}
.btnpodat {
    background-color: #49A3D5;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 230px;
}
.header2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 170px;
    margin-top: 200px;
}
.clnone {
    display: none;
}
.main1 {
    width: 80%;
    margin: auto;
    margin-top: 120px;

}
.analitic {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-top: 50px;
}
.isled {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}
.btnuznat {
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 320px;
    padding:20px 0px;
}
.online {
    display: flex;
    gap: 150px;
    align-items: center;
    margin-top: 150px;
}
.main2 {
    margin-top: 100px;
}
.box1 {
    width: 390px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
}
.boxex {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.main3 {
    height: 600px;
    background-image:url(./images/Group\ 757.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.l2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 80%;
    background-color:#07AF91;
}
.btncon {
    background-color: #4EA6D8;
    color: white;
    font-size: 18px;
    font-weight: 50;
    width: 320px;
    padding: 20px 0px;
    border-radius: 10px;
    border: none;
}
.main4 {
    width: 80%;
    margin: auto;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.cont1 {
    width: 382px;
    height: 284px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px gray;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
    align-items: center;
}
.conts {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.main5 {
    width: 80%;
    height: 675px;
    margin: auto;
    background-color: #0F0F0F;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}











@media (max-width: 510px) {
    .linko {
        display: none;
  
    }
    .clnone {
        display: block;
    }
    .header2 {
        text-align: center;
    }
    .analitic {
        flex-direction: column-reverse;
        width: 100%;
    }
    .btnuznat {
        width: 98%;
        margin: auto;
    }
    .online {
        flex-direction: column;
        width: 100%;
        row-gap: 50px !important;
    }
    .boxex {
        flex-direction: column;
        align-items: center;
    }
    .box1 {
        width: 90%;
    }
    .main2 h1 {
        text-align: center;
        margin-right: 90px;
    }
    .main3 p {
      text-align: center;
      font-size: 17px !important;
    }
    .main3 {
        row-gap: 20px;
    }
    .conts {
        flex-direction: column;
    }
    .cont1 {
        flex-direction: row;
        width: 500px;
        gap: 50px;
    }
    .main4 {
     align-items: center;
    }
    .main5 {
        width: 550px;
        height: 300px;
    }
}